In [1]:
#Loading dataset
import pandas as pd
import sys
sys.path.append(r"C:\Users\Ericd\OneDrive\Desktop\wudimoxing")
from wudi_regression import Regression
from wudi_classification import Classification
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import numpy as np
from pickle import dump, load
import optuna
from colorama import Fore
from IPython.display import display

df = pd.read_excel('QAQ.xlsx')
df.to_csv('Wastewater treatment plant.csv', index=False)

``multivariate`` option is an experimental feature. The interface can change in the future.

In [2]:
file1_path = "Wastewater treatment plant.csv"
file2_path = "data_features_Class.csv"


df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)


# Concatenate the DataFrames horizontally (along columns)
combination = pd.concat([df1, df2], axis=1)

# Replace 'final.csv' with the desired name for the combined CSV file
combination.to_csv('CHANGE RATE(Class).csv', index=False)
df = pd.read_csv('CHANGE RATE(Class).csv')

In [3]:
new_column_name = 'Aeration tank(HRT)'
df.rename(columns={'Aeration tank': new_column_name}, inplace=True)

new_column_name = 'Plant(HRT)'
df.rename(columns={'Plant': new_column_name}, inplace=True)

new_column_name = 'Annual average temperature (oC)'
df.rename(columns={'Annual average': new_column_name}, inplace=True)

new_column_name = 'Annual mean of daily maximum temperature (oC) '
df.rename(columns={'Annual mean of daily maximum': new_column_name}, inplace=True)

new_column_name = 'Annual mean of daily minimum temperature (oC) '
df.rename(columns={'Annual mean of daily minimum': new_column_name}, inplace=True)

new_column_name = 'Sampling month average temperature (oC)'
df.rename(columns={'Sampling month average': new_column_name}, inplace=True)

new_column_name = 'Annual mean of daily minimum temperature (oC) '
df.rename(columns={'Annual mean of daily minimum': new_column_name}, inplace=True)

new_column_name = 'Annual Precipitation(mm)'
df.rename(columns={'Annual': new_column_name}, inplace=True)

new_column_name = 'Sampling month Precipitation(mm)'
df.rename(columns={'Sampling month': new_column_name}, inplace=True)

new_column_name = 'Annual Precipitation(mm)'
df.rename(columns={'Annual': new_column_name}, inplace=True)

new_column_name = 'General AS process type'
df.rename(columns={'General type ': new_column_name}, inplace=True)

new_column_name = 'Detailed AS process type'
df.rename(columns={'Detailed type': new_column_name}, inplace=True)

new_column_name = 'Percentage of Industry wastewater source'
df.rename(columns={'Percentage': new_column_name}, inplace=True)

new_column_name = 'Contained in Inf? (Industry wastewater source)'
df.rename(columns={'Contained in Inf?': new_column_name}, inplace=True)

new_column_name = 'Others(Order)'
df.rename(columns={'Others.2': new_column_name}, inplace=True)

new_column_name = 'Others(Classs)'
df.rename(columns={'Others.1': new_column_name}, inplace=True)

new_column_name = 'Others(Phylum)'
df.rename(columns={'Others': new_column_name}, inplace=True)

new_column_name = 'Unclassified(Phylum)'
df.rename(columns={'Unclassified': new_column_name}, inplace=True)

new_column_name = 'Unclassified(Classs)'
df.rename(columns={'Unclassified.1': new_column_name}, inplace=True)

new_column_name = 'Unclassified(Order)'
df.rename(columns={'Unclassified.2': new_column_name}, inplace=True)

In [4]:
columns_to_drop = ['Sample ID', 'WWTP ID', 'SiteID', 'Site Name', 'Sampling Date',
        'Sampling moment','Actual Inf rate (m3/d)',
       'Nitrification', 'Denitrification','Aerator type', 'BOD (mg/l) inf/(1+recycle ratio)', 'BOD (mg/l) Aeration tank inf',
       'COD (mg/l) Inf/(1+recycle ratio)',
       'COD (mg/l) Aeration tank inf', 'F/M (kg BOD/kg MLSS-d)', 'NH4-N (mg/l) Aeration tank inf', 
        'TN (mg/l) Aeration tank inf','TP (mg/l) Aeration tank inf', 'Conductivity (μS/cm)','SRTd',
       'COD', 'NH4N', 'TP','NH4-N (mg/l)', 'NO3-N (mg/l)', 'SVI (ml/g)',
        'Sample ID.1' ,'Unnamed: 0','Sampling month average.1',
    'Sampling month.1']

df = df.drop(columns=columns_to_drop)

In [5]:
targets = df.columns.to_numpy()
targets = targets[0:]
print(targets)

['Latitude' 'Longitude' 'City Name' 'Country/Region' 'Continent'
 'Climate typea' 'Annual average temperature (oC)'
 'Annual mean of daily maximum temperature (oC) '
 'Annual mean of daily minimum temperature (oC) '
 'Sampling month average temperature (oC)' 'Annual Precipitation(mm)'
 'Sampling month Precipitation(mm)' 'GDP per capita (dollars)'
 'City population' 'Year of plant build' 'Designed capacity (m3/d)'
 'Volume of aeration tanks (m3)' 'Plant(HRT)' 'Aeration tank(HRT)'
 'SRT (d)' 'General AS process type' 'Detailed AS process type'
 'BOD (mg/l) Inf' 'BOD (mg/l) Eff' 'COD (mg/l) Inf' 'COD (mg/l) Eff'
 'NH4-N (mg/l) Inf' 'NH4-N (mg/l) Eff' 'TN (mg/l) Inf' 'TN (mg/l) Eff'
 'TP (mg/l) Inf' 'TP (mg/l) Eff'
 'Contained in Inf? (Industry wastewater source)'
 'Percentage of Industry wastewater source' 'MLSS (mg/l)' 'DO (mg/l)' 'pH'
 'Mixed liquid temperature (oC)' 'Gammaproteobacteria' 'Bacteroidia'
 'Unclassified(Phylum)' 'Alphaproteobacteria' 'Others(Phylum)'
 'Clostridia' 'Anaerolineae' 'Parcubacteria' 'Polyangia' 'Planctomycetes'
 'Verrucomicrobiae' 'Bdellovibrionia' 'Chlamydiae' 'Oligoflexia'
 'Phycisphaerae' 'Gracilibacteria' 'Actinobacteria' 'Bacilli'
 'Microgenomatia' 'Babeliae' 'ABY1' 'Saccharimonadia' 'Acidimicrobiia'
 'Omnitrophia' 'Cyanobacteriia' 'Acidobacteriae' 'Myxococcia'
 'Nanoarchaeia' 'Thermoleophilia' 'Blastocatellia' 'OM190' 'Spirochaetia'
 'Nitrospiria' 'Chloroflexia' 'Kiritimatiellae' 'Ignavibacteria'
 'Desulfuromonadia' 'Campylobacteria' 'Gemmatimonadetes'
 'Vicinamibacteria' 'Fimbriimonadia' 'Vampirivibrionia' 'Desulfovibrionia'
 'Negativicutes' 'Holophagae' 'Leptospirae' 'metagenome' 'Kapabacteria'
 'Lineage IIb' 'Desulfobacteria' 'Hydrogenedentia']

In [6]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)  # 这里的 n_neighbors 可以根据你的需求进行调整

In [7]:
columns_to_extract = ['Latitude', 'Longitude', 
        'Annual average temperature (oC)',
       'Annual mean of daily maximum temperature (oC) ',
       'Annual mean of daily minimum temperature (oC) ',
       'Sampling month average temperature (oC)', 'Annual Precipitation(mm)',
       'Sampling month Precipitation(mm)', 'GDP per capita (dollars)',
       'City population', 'Year of plant build', 'Designed capacity (m3/d)',
       'Volume of aeration tanks (m3)', 'Plant(HRT)', 'Aeration tank(HRT)',
       'SRT (d)', 'BOD (mg/l) Inf', 'BOD (mg/l) Eff', 'COD (mg/l) Inf', 'COD (mg/l) Eff',
       'NH4-N (mg/l) Inf', 'NH4-N (mg/l) Eff', 'TN (mg/l) Inf',
       'TN (mg/l) Eff', 'TP (mg/l) Inf', 'TP (mg/l) Eff',
       'Percentage of Industry wastewater source', 'MLSS (mg/l)', 'DO (mg/l)',
       'pH', 'Mixed liquid temperature (oC)',
     'Gammaproteobacteria',
       'Bacteroidia', 'Unclassified(Phylum)', 'Alphaproteobacteria',
       'Others(Phylum)', 'Clostridia', 'Anaerolineae', 'Parcubacteria',
       'Polyangia', 'Planctomycetes', 'Verrucomicrobiae', 'Bdellovibrionia',
       'Chlamydiae', 'Oligoflexia', 'Phycisphaerae', 'Gracilibacteria',
       'Actinobacteria', 'Bacilli', 'Microgenomatia', 'Babeliae', 'ABY1',
       'Saccharimonadia', 'Acidimicrobiia', 'Omnitrophia', 'Cyanobacteriia',
       'Acidobacteriae', 'Myxococcia', 'Nanoarchaeia', 'Thermoleophilia',
       'Blastocatellia', 'OM190', 'Spirochaetia', 'Nitrospiria',
       'Chloroflexia', 'Kiritimatiellae', 'Ignavibacteria', 'Desulfuromonadia',
       'Campylobacteria', 'Gemmatimonadetes', 'Vicinamibacteria',
       'Fimbriimonadia', 'Vampirivibrionia', 'Desulfovibrionia',
       'Negativicutes', 'Holophagae', 'Leptospirae', 'metagenome',
       'Kapabacteria', 'Lineage IIb', 'Desulfobacteria', 'Hydrogenedentia']

In [8]:
df_1 = df[columns_to_extract]

In [9]:
data_types = df.dtypes

In [10]:

# Filter the columns that have the data type 'object'
object_columns = data_types[data_types == 'object'].index

# Display the list of columns with object data type
print("Columns with object data type:")
print(object_columns)

Columns with object data type:
Index(['City Name', 'Country/Region', 'Continent', 'Climate typea',
       'General AS process type', 'Detailed AS process type',
       'Contained in Inf? (Industry wastewater source)'],
      dtype='object')

In [11]:
df_filled = pd.DataFrame(imputer.fit_transform(df_1), columns=df_1.columns)

In [12]:
df.drop(columns = columns_to_extract)

,City Name,Country/Region,Continent,Climate typea,General AS process type,Detailed AS process type,Contained in Inf? (Industry wastewater source)
0,Cape Town,South Africa,Africa,Csb,A2O,UCT,Yes
1,Cape Town,South Africa,Africa,Csb,A2O,UCT,Yes
2,Cape Town,South Africa,Africa,Csb,A2O,UCT,Yes
3,Cape Town,South Africa,Africa,Csb,A2O,UCT,Yes
4,Cape Town,South Africa,Africa,Csb,A2O,UCT,Yes
...,...,...,...,...,...,...,...
1185,Uruguay,Uruguay,South America,Cfa,plug flow,Plug flow,NaN
1186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1188,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1189,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
columns_to_replace = ['Latitude', 'Longitude', 
        'Annual average temperature (oC)',
       'Annual mean of daily maximum temperature (oC) ',
       'Annual mean of daily minimum temperature (oC) ',
       'Sampling month average temperature (oC)', 'Annual Precipitation(mm)',
       'Sampling month Precipitation(mm)', 'GDP per capita (dollars)',
       'City population', 'Year of plant build', 'Designed capacity (m3/d)',
       'Volume of aeration tanks (m3)', 'Plant(HRT)', 'Aeration tank(HRT)',
       'SRT (d)', 'BOD (mg/l) Inf', 'BOD (mg/l) Eff', 'COD (mg/l) Inf', 'COD (mg/l) Eff',
       'NH4-N (mg/l) Inf', 'NH4-N (mg/l) Eff', 'TN (mg/l) Inf',
       'TN (mg/l) Eff', 'TP (mg/l) Inf', 'TP (mg/l) Eff',
       'Percentage of Industry wastewater source', 'MLSS (mg/l)', 'DO (mg/l)',
       'pH', 'Mixed liquid temperature (oC)', 
'Gammaproteobacteria',
       'Bacteroidia', 'Unclassified(Phylum)', 'Alphaproteobacteria',
       'Others(Phylum)', 'Clostridia', 'Anaerolineae', 'Parcubacteria',
       'Polyangia', 'Planctomycetes', 'Verrucomicrobiae', 'Bdellovibrionia',
       'Chlamydiae', 'Oligoflexia', 'Phycisphaerae', 'Gracilibacteria',
       'Actinobacteria', 'Bacilli', 'Microgenomatia', 'Babeliae', 'ABY1',
       'Saccharimonadia', 'Acidimicrobiia', 'Omnitrophia', 'Cyanobacteriia',
       'Acidobacteriae', 'Myxococcia', 'Nanoarchaeia', 'Thermoleophilia',
       'Blastocatellia', 'OM190', 'Spirochaetia', 'Nitrospiria',
       'Chloroflexia', 'Kiritimatiellae', 'Ignavibacteria', 'Desulfuromonadia',
       'Campylobacteria', 'Gemmatimonadetes', 'Vicinamibacteria',
       'Fimbriimonadia', 'Vampirivibrionia', 'Desulfovibrionia',
       'Negativicutes', 'Holophagae', 'Leptospirae', 'metagenome',
       'Kapabacteria', 'Lineage IIb', 'Desulfobacteria', 'Hydrogenedentia']

df[columns_to_replace] = df_filled[columns_to_replace].values

In [14]:
'''
#df['BOD(difference)'] = df['BOD (mg/l) Inf']- df['BOD (mg/l) Eff'] #regressor1
#df['COD(difference)'] = df['COD (mg/l) Inf']- df['COD (mg/l) Eff'] #regressor2
#df['NH4-N(difference)'] = df['NH4-N (mg/l) Inf']- df['NH4-N (mg/l) Eff'] #regressor3
#df['TN(difference)'] = df['TN (mg/l) Inf']- df['TN (mg/l) Eff'] #regressor4
#df['TP(difference)'] = df['TP (mg/l) Inf']- df['TP (mg/l) Eff'] #regressor5
'''
df['BOD(Percentage)'] = (df['BOD (mg/l) Inf']- df['BOD (mg/l) Eff'])/df['BOD (mg/l) Inf'] #regressor6
df['COD(Percentage)'] = (df['COD (mg/l) Inf']- df['COD (mg/l) Eff'])/df['COD (mg/l) Inf'] #regressor7
df['NH4-N(Percentage)'] = (df['NH4-N (mg/l) Inf']- df['NH4-N (mg/l) Eff'])/df['NH4-N (mg/l) Inf'] #regressor8
df['TN(Percentage)'] = (df['TN (mg/l) Inf']- df['TN (mg/l) Eff'])/df['TN (mg/l) Inf'] #regressor9
df['TP(Percentage)'] = (df['TP (mg/l) Inf']- df['TP (mg/l) Eff'])/df['TP (mg/l) Inf'] #regressor10

In [15]:
df.iloc

In [16]:
df.dropna(inplace=True)

In [17]:
df['Country/Region'] = df['Country/Region'].replace({'South Africa': 0, 'China': 1, 'Japan': 2, 'Singapore': 3, 'South Korea': 4, 'Taiwan (ROC)':5,'Australia':6,'New Zealand':7,'Austria':8,'Denmark':9,'Germany':10,'Italy':11,'Luxembourg':12,'Portugal':13,'Sweden':14,'Switzerland':15,'United Kindom':16,'Canada':17,'Mexico':18,'United States':19,'Brazil':20,'Chile':21,'Colombia':22,'Uruguay':23})
df['Continent'] = df['Continent'].replace({'Africa': 0, 'Asia': 1,'Australasia': 2,'Europe': 3,'North America': 4,'South America':5})
df['Climate typea'] = df['Climate typea'].replace({'Cfa': 0, 'Dwa': 1,'Dfb': 2,'Dfa': 3,'Cwa': 4,'Csa':5,'Csb':6,'Cfb':7,'Aw':8,'Af':9,'Cfc':10,'Cwb':11,'Dsc':12,'BWh':13,'Cwc':14,'Am':15,'ET':16})

In [18]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_cities = label_encoder.fit_transform(df['City Name'])
df['City Name'] = encoded_cities
print(df[['City Name']])

      City Name
0            12
1            12
2            12
3            12
4            12
...         ...
1148         58
1149         58
1150         58
1154         11
1155         11

[789 rows x 1 columns]

In [19]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_cities = label_encoder.fit_transform(df['Detailed AS process type'])
df['Detailed AS process type'] = encoded_cities
print(df[['Detailed AS process type']])

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_cities = label_encoder.fit_transform(df['General AS process type'])
df['General AS process type'] = encoded_cities
print(df[['General AS process type']])

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_cities = label_encoder.fit_transform(df['Contained in Inf? (Industry wastewater source)'])
df['Contained in Inf? (Industry wastewater source)'] = encoded_cities
print(df[['Contained in Inf? (Industry wastewater source)']])

      Detailed AS process type
0                           40
1                           40
2                           40
3                           40
4                           40
...                        ...
1148                        10
1149                        10
1150                        10
1154                        36
1155                        36

[789 rows x 1 columns]
      General AS process type
0                           0
1                           0
2                           0
3                           0
4                           0
...                       ...
1148                        3
1149                        3
1150                        3
1154                        2
1155                        2

[789 rows x 1 columns]
      Contained in Inf? (Industry wastewater source)
0                                                  2
1                                                  2
2                                                  2
3                                                  2
4                                                  2
...                                              ...
1148                                               0
1149                                               0
1150                                               0
1154                                               2
1155                                               2

[789 rows x 1 columns]

In [20]:
df.columns

Index(['Latitude', 'Longitude', 'City Name', 'Country/Region', 'Continent',
       'Climate typea', 'Annual average temperature (oC)',
       'Annual mean of daily maximum temperature (oC) ',
       'Annual mean of daily minimum temperature (oC) ',
       'Sampling month average temperature (oC)', 'Annual Precipitation(mm)',
       'Sampling month Precipitation(mm)', 'GDP per capita (dollars)',
       'City population', 'Year of plant build', 'Designed capacity (m3/d)',
       'Volume of aeration tanks (m3)', 'Plant(HRT)', 'Aeration tank(HRT)',
       'SRT (d)', 'General AS process type', 'Detailed AS process type',
       'BOD (mg/l) Inf', 'BOD (mg/l) Eff', 'COD (mg/l) Inf', 'COD (mg/l) Eff',
       'NH4-N (mg/l) Inf', 'NH4-N (mg/l) Eff', 'TN (mg/l) Inf',
       'TN (mg/l) Eff', 'TP (mg/l) Inf', 'TP (mg/l) Eff',
       'Contained in Inf? (Industry wastewater source)',
       'Percentage of Industry wastewater source', 'MLSS (mg/l)', 'DO (mg/l)',
       'pH', 'Mixed liquid temperature (oC)', 'Gammaproteobacteria',
       'Bacteroidia', 'Unclassified(Phylum)', 'Alphaproteobacteria',
       'Others(Phylum)', 'Clostridia', 'Anaerolineae', 'Parcubacteria',
       'Polyangia', 'Planctomycetes', 'Verrucomicrobiae', 'Bdellovibrionia',
       'Chlamydiae', 'Oligoflexia', 'Phycisphaerae', 'Gracilibacteria',
       'Actinobacteria', 'Bacilli', 'Microgenomatia', 'Babeliae', 'ABY1',
       'Saccharimonadia', 'Acidimicrobiia', 'Omnitrophia', 'Cyanobacteriia',
       'Acidobacteriae', 'Myxococcia', 'Nanoarchaeia', 'Thermoleophilia',
       'Blastocatellia', 'OM190', 'Spirochaetia', 'Nitrospiria',
       'Chloroflexia', 'Kiritimatiellae', 'Ignavibacteria', 'Desulfuromonadia',
       'Campylobacteria', 'Gemmatimonadetes', 'Vicinamibacteria',
       'Fimbriimonadia', 'Vampirivibrionia', 'Desulfovibrionia',
       'Negativicutes', 'Holophagae', 'Leptospirae', 'metagenome',
       'Kapabacteria', 'Lineage IIb', 'Desulfobacteria', 'Hydrogenedentia',
       'BOD(Percentage)', 'COD(Percentage)', 'NH4-N(Percentage)',
       'TN(Percentage)', 'TP(Percentage)'],
      dtype='object')

In [21]:
data_types = df.dtypes

In [47]:
environmental_keywords = ['Latitude', 'Longitude', 'City Name', 'Country/Region', 'Continent',
       'Climate typea', 'Annual average temperature (oC)',
       'Annual mean of daily maximum temperature (oC) ',
       'Annual mean of daily minimum temperature (oC) ',
       'Sampling month average temperature (oC)', 'Annual Precipitation(mm)',
       'Sampling month Precipitation(mm)', 'GDP per capita (dollars)',
       'City population', 'Year of plant build']

operational_keywords = ['Designed capacity (m3/d)',
       'Volume of aeration tanks (m3)', 'Plant(HRT)', 'Aeration tank(HRT)',
       'SRT (d)', 'General AS process type', 'Detailed AS process type', 'Contained in Inf? (Industry wastewater source)',
       'Percentage of Industry wastewater source', 'MLSS (mg/l)', 'DO (mg/l)', 'pH', 'Mixed liquid temperature (oC)']

chemical_keywords = ['BOD (mg/l) Inf', 'BOD (mg/l) Eff', 'COD (mg/l) Inf', 'COD (mg/l) Eff',
       'NH4-N (mg/l) Inf', 'NH4-N (mg/l) Eff', 'TN (mg/l) Inf',
       'TN (mg/l) Eff', 'TP (mg/l) Inf', 'TP (mg/l) Eff']

biological_keywords = ['Gammaproteobacteria',
       'Bacteroidia', 'Unclassified(Phylum)', 'Alphaproteobacteria',
       'Others(Phylum)', 'Clostridia', 'Anaerolineae', 'Parcubacteria',
       'Polyangia', 'Planctomycetes', 'Verrucomicrobiae', 'Bdellovibrionia',
       'Chlamydiae', 'Oligoflexia', 'Phycisphaerae', 'Gracilibacteria',
       'Actinobacteria', 'Bacilli', 'Microgenomatia', 'Babeliae', 'ABY1',
       'Saccharimonadia', 'Acidimicrobiia', 'Omnitrophia', 'Cyanobacteriia',
       'Acidobacteriae', 'Myxococcia', 'Nanoarchaeia', 'Thermoleophilia',
       'Blastocatellia', 'OM190', 'Spirochaetia', 'Nitrospiria',
       'Chloroflexia', 'Kiritimatiellae', 'Ignavibacteria', 'Desulfuromonadia',
       'Campylobacteria', 'Gemmatimonadetes', 'Vicinamibacteria',
       'Fimbriimonadia', 'Vampirivibrionia', 'Desulfovibrionia',
       'Negativicutes', 'Holophagae', 'Leptospirae', 'metagenome',
       'Kapabacteria', 'Lineage IIb', 'Desulfobacteria', 'Hydrogenedentia',
       'BOD(Percentage)', 'COD(Percentage)', 'NH4-N(Percentage)',
       'TN(Percentage)', 'TP(Percentage)']


environmental_features = {}
chemical_features = {}
biological_features = {}
operational_features = {}

# Categorize the features
for column in df.columns:
    if any(keyword.lower() == column.lower() for keyword in environmental_keywords):
        environmental_features[column] = df[column]
        
    elif any(keyword.lower() == column.lower() for keyword in operational_keywords):
        operational_features[column] = df[column] 
        
    elif any(keyword.lower() == column.lower() for keyword in chemical_keywords):
        chemical_features[column] = df[column]
        
    elif any(keyword.lower() == column.lower() for keyword in biological_keywords):
        biological_features[column] = df[column]

print(environmental_features)
print(chemical_features)
print(biological_features)
print(operational_features)

{'Latitude': 0      -33.847182
1      -33.847182
2      -33.847182
3      -33.847182
4      -33.847182
          ...
1148   -33.540667
1149   -33.540667
1150   -33.540667
1154     3.512259
1155     3.512259
Name: Latitude, Length: 789, dtype: float64, 'Longitude': 0       18.696025
1       18.696025
2       18.696025
3       18.696025
4       18.696025
          ...
1148   -70.835833
1149   -70.835833
1150   -70.835833
1154   -76.342926
1155   -76.342926
Name: Longitude, Length: 789, dtype: float64, 'City Name': 0       12
1       12
2       12
3       12
4       12
        ..
1148    58
1149    58
1150    58
1154    11
1155    11
Name: City Name, Length: 789, dtype: int32, 'Country/Region': 0        0
1        0
2        0
3        0
4        0
        ..
1148    21
1149    21
1150    21
1154    22
1155    22
Name: Country/Region, Length: 789, dtype: int64, 'Continent': 0       0
1       0
2       0
3       0
4       0
       ..
1148    5
1149    5
1150    5
1154    5
1155    5
Name: Continent, Length: 789, dtype: int64, 'Climate typea': 0       6
1       6
2       6
3       6
4       6
       ..
1148    6
1149    6
1150    6
1154    9
1155    9
Name: Climate typea, Length: 789, dtype: int64, 'Annual average temperature (oC)': 0       18.0
1       18.0
2       18.0
3       18.0
4       18.0
        ...
1148    15.0
1149    15.0
1150    15.0
1154    25.0
1155    25.0
Name: Annual average temperature (oC), Length: 789, dtype: float64, 'Annual mean of daily maximum temperature (oC) ': 0       28.0
1       28.0
2       28.0
3       28.0
4       28.0
        ...
1148    24.0
1149    24.0
1150    24.0
1154    28.0
1155    28.0
Name: Annual mean of daily maximum temperature (oC) , Length: 789, dtype: float64, 'Annual mean of daily minimum temperature (oC) ': 0        7.0
1        7.0
2        7.0
3        7.0
4        7.0
        ...
1148     3.0
1149     3.0
1150     3.0
1154    21.0
1155    21.0
Name: Annual mean of daily minimum temperature (oC) , Length: 789, dtype: float64, 'Sampling month average temperature (oC)': 0       18.0
1       18.0
2       18.0
3       18.0
4       18.0
        ...
1148    22.0
1149    22.0
1150    22.0
1154    29.0
1155    29.0
Name: Sampling month average temperature (oC), Length: 789, dtype: float64, 'Annual Precipitation(mm)': 0       661.0
1       661.0
2       661.0
3       661.0
4       661.0
        ...
1148    365.0
1149    365.0
1150    365.0
1154    989.0
1155    989.0
Name: Annual Precipitation(mm), Length: 789, dtype: float64, 'Sampling month Precipitation(mm)': 0       55.0
1       55.0
2       55.0
3       55.0
4       55.0
        ...
1148     2.0
1149     2.0
1150     2.0
1154    62.0
1155    62.0
Name: Sampling month Precipitation(mm), Length: 789, dtype: float64, 'GDP per capita (dollars)': 0       14086.0
1       14086.0
2       14086.0
3       14086.0
4       14086.0
         ...
1148    23929.0
1149    23929.0
1150    23929.0
1154    11200.0
1155    11200.0
Name: GDP per capita (dollars), Length: 789, dtype: float64, 'City population': 0       4178700.0
1       4178700.0
2       4178700.0
3       4178700.0
4       4178700.0
          ...
1148    7164400.0
1149    7164400.0
1150    7164400.0
1154    4613684.0
1155    4613684.0
Name: City population, Length: 789, dtype: float64, 'Year of plant build': 0       1981.0
1       1981.0
2       1981.0
3       1981.0
4       1981.0
         ...
1148    2001.0
1149    2001.0
1150    2001.0
1154    2013.0
1155    2013.0
Name: Year of plant build, Length: 789, dtype: float64}
{'BOD (mg/l) Inf': 0       100.8
1       100.8
2       100.8
3       100.8
4       100.8
        ...
1148    297.0
1149    297.0
1150    297.0
1154    450.0
1155    450.0
Name: BOD (mg/l) Inf, Length: 789, dtype: float64, 'BOD (mg/l) Eff': 0       3.24
1       3.24
2       3.24
3       3.24
4       3.24
        ...
1148    3.00
1149    3.00
1150    3.00
1154    6.80
1155    6.80
Name: BOD (mg/l) Eff, Length: 789, dtype: float64, 'COD (mg/l) Inf': 0        771.97
1        771.97
2        771.97
3        771.97
4        771.97
         ...
1148     531.00
1149     531.00
1150     531.00
1154    1000.00
1155    1000.00
Name: COD (mg/l) Inf, Length: 789, dtype: float64, 'COD (mg/l) Eff': 0       53.30
1       53.30
2       53.30
3       53.30
4       53.30
        ...
1148    48.00
1149    48.00
1150    48.00
1154    30.36
1155    30.36
Name: COD (mg/l) Eff, Length: 789, dtype: float64, 'NH4-N (mg/l) Inf': 0       61.40
1       61.40
2       61.40
3       61.40
4       61.40
        ...
1148    31.80
1149    31.80
1150    31.80
1154    27.06
1155    27.06
Name: NH4-N (mg/l) Inf, Length: 789, dtype: float64, 'NH4-N (mg/l) Eff': 0       5.23
1       5.23
2       5.23
3       5.23
4       5.23
        ...
1148    0.11
1149    0.11
1150    0.11
1154    0.56
1155    0.56
Name: NH4-N (mg/l) Eff, Length: 789, dtype: float64, 'TN (mg/l) Inf': 0       148.00
1       148.00
2       148.00
3       148.00
4       148.00
         ...
1148     67.50
1149     67.50
1150     67.50
1154     38.24
1155     38.24
Name: TN (mg/l) Inf, Length: 789, dtype: float64, 'TN (mg/l) Eff': 0        9.22
1        9.22
2        9.22
3        9.22
4        9.22
        ...
1148    34.20
1149    34.20
1150    34.20
1154     9.22
1155     9.22
Name: TN (mg/l) Eff, Length: 789, dtype: float64, 'TP (mg/l) Inf': 0       7.20
1       7.20
2       7.20
3       7.20
4       7.20
        ...
1148    6.00
1149    6.00
1150    6.00
1154    3.44
1155    3.44
Name: TP (mg/l) Inf, Length: 789, dtype: float64, 'TP (mg/l) Eff': 0       1.20
1       1.20
2       1.20
3       1.20
4       1.20
        ...
1148    1.96
1149    1.96
1150    1.96
1154    7.14
1155    7.14
Name: TP (mg/l) Eff, Length: 789, dtype: float64}
{'Gammaproteobacteria': 0       35.535156
1       32.203125
2       31.246094
3       34.714844
4       30.414062
          ...
1148    86.179688
1149    76.082031
1150    73.027344
1154    36.777344
1155    27.605469
Name: Gammaproteobacteria, Length: 789, dtype: float64, 'Bacteroidia': 0       22.441406
1       23.753906
2       24.363281
3       23.082031
4       24.949219
          ...
1148     3.046875
1149    11.265625
1150    12.839844
1154    30.035156
1155    34.335938
Name: Bacteroidia, Length: 789, dtype: float64, 'Unclassified(Phylum)': 0       2.363281
1       2.660156
2       2.566406
3       2.410156
4       2.503906
          ...
1148    0.250000
1149    0.339844
1150    0.464844
1154    0.492188
1155    0.695312
Name: Unclassified(Phylum), Length: 789, dtype: float64, 'Alphaproteobacteria': 0       4.773438
1       5.140625
2       4.675781
3       4.617188
4       4.648438
          ...
1148    6.398438
1149    7.281250
1150    8.078125
1154    0.363281
1155    0.332031
Name: Alphaproteobacteria, Length: 789, dtype: float64, 'Others(Phylum)': 0        1.707031
1        1.738281
2        1.777344
3        1.726562
4        1.644531
          ...
1148     0.652344
1149     0.453125
1150     0.671875
1154     8.957031
1155    11.437500
Name: Others(Phylum), Length: 789, dtype: float64, 'Clostridia': 0       0.378906
1       0.421875
2       0.453125
3       0.390625
4       0.402344
          ...
1148    0.386719
1149    0.292969
1150    0.351562
1154    6.484375
1155    7.296875
Name: Clostridia, Length: 789, dtype: float64, 'Anaerolineae': 0       1.730469
1       1.746094
2       1.769531
3       1.687500
4       1.730469
          ...
1148    0.074219
1149    0.105469
1150    0.101562
1154    2.695312
1155    2.308594
Name: Anaerolineae, Length: 789, dtype: float64, 'Parcubacteria': 0       1.777344
1       1.550781
2       1.515625
3       1.730469
4       1.964844
          ...
1148    0.007812
1149    0.003906
1150    0.011719
1154    0.246094
1155    0.265625
Name: Parcubacteria, Length: 789, dtype: float64, 'Polyangia': 0       2.167969
1       2.167969
2       1.957031
3       2.144531
4       2.050781
          ...
1148    0.101562
1149    0.773438
1150    0.699219
1154    0.027344
1155    0.031250
Name: Polyangia, Length: 789, dtype: float64, 'Planctomycetes': 0       2.457031
1       2.425781
2       2.761719
3       2.066406
4       2.660156
          ...
1148    0.355469
1149    0.300781
1150    0.496094
1154    0.007812
1155    0.023438
Name: Planctomycetes, Length: 789, dtype: float64, 'Verrucomicrobiae': 0       1.710938
1       1.511719
2       1.523438
3       1.695312
4       1.664062
          ...
1148    0.218750
1149    0.785156
1150    0.648438
1154    1.289062
1155    1.476562
Name: Verrucomicrobiae, Length: 789, dtype: float64, 'Bdellovibrionia': 0       1.753906
1       1.968750
2       1.792969
3       1.855469
4       2.058594
          ...
1148    0.144531
1149    0.117188
1150    0.109375
1154    0.027344
1155    0.023438
Name: Bdellovibrionia, Length: 789, dtype: float64, 'Chlamydiae': 0       0.257812
1       0.269531
2       0.292969
3       0.273438
4       0.312500
          ...
1148    0.144531
1149    0.160156
1150    0.171875
1154    0.000000
1155    0.000000
Name: Chlamydiae, Length: 789, dtype: float64, 'Oligoflexia': 0       0.734375
1       0.820312
2       0.683594
3       0.757812
4       0.828125
          ...
1148    0.019531
1149    0.054688
1150    0.054688
1154    0.007812
1155    0.015625
Name: Oligoflexia, Length: 789, dtype: float64, 'Phycisphaerae': 0       0.664062
1       0.652344
2       0.593750
3       0.636719
4       0.515625
          ...
1148    0.003906
1149    0.000000
1150    0.000000
1154    0.027344
1155    0.011719
Name: Phycisphaerae, Length: 789, dtype: float64, 'Gracilibacteria': 0       0.414062
1       0.394531
2       0.421875
3       0.558594
4       0.558594
          ...
1148    0.039062
1149    0.035156
1150    0.058594
1154    0.027344
1155    0.050781
Name: Gracilibacteria, Length: 789, dtype: float64, 'Actinobacteria': 0       0.222656
1       0.281250
2       0.320312
3       0.246094
4       0.210938
          ...
1148    0.992188
1149    0.781250
1150    1.007812
1154    0.007812
1155    0.003906
Name: Actinobacteria, Length: 789, dtype: float64, 'Bacilli': 0       0.125000
1       0.187500
2       0.132812
3       0.148438
4       0.117188
          ...
1148    0.207031
1149    0.128906
1150    0.132812
1154    1.480469
1155    1.859375
Name: Bacilli, Length: 789, dtype: float64, 'Microgenomatia': 0       0.078125
1       0.171875
2       0.156250
3       0.140625
4       0.054688
          ...
1148    0.000000
1149    0.003906
1150    0.000000
1154    0.058594
1155    0.070312
Name: Microgenomatia, Length: 789, dtype: float64, 'Babeliae': 0       0.175781
1       0.191406
2       0.222656
3       0.207031
4       0.253906
          ...
1148    0.027344
1149    0.023438
1150    0.011719
1154    0.000000
1155    0.000000
Name: Babeliae, Length: 789, dtype: float64, 'ABY1': 0       0.257812
1       0.253906
2       0.277344
3       0.273438
4       0.250000
          ...
1148    0.003906
1149    0.000000
1150    0.000000
1154    0.019531
1155    0.074219
Name: ABY1, Length: 789, dtype: float64, 'Saccharimonadia': 0       1.027344
1       1.058594
2       1.121094
3       1.023438
4       1.191406
          ...
1148    0.019531
1149    0.023438
1150    0.007812
1154    0.000000
1155    0.019531
Name: Saccharimonadia, Length: 789, dtype: float64, 'Acidimicrobiia': 0       0.066406
1       0.085938
2       0.109375
3       0.097656
4       0.113281
          ...
1148    0.281250
1149    0.207031
1150    0.214844
1154    0.000000
1155    0.007812
Name: Acidimicrobiia, Length: 789, dtype: float64, 'Omnitrophia': 0       0.054688
1       0.039062
2       0.042969
3       0.031250
4       0.019531
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    0.199219
1155    0.300781
Name: Omnitrophia, Length: 789, dtype: float64, 'Cyanobacteriia': 0       0.011719
1       0.015625
2       0.015625
3       0.015625
4       0.003906
          ...
1148    0.003906
1149    0.000000
1150    0.000000
1154    0.000000
1155    0.000000
Name: Cyanobacteriia, Length: 789, dtype: float64, 'Acidobacteriae': 0       0.503906
1       0.476562
2       0.417969
3       0.445312
4       0.464844
          ...
1148    0.003906
1149    0.000000
1150    0.003906
1154    0.054688
1155    0.105469
Name: Acidobacteriae, Length: 789, dtype: float64, 'Myxococcia': 0       0.246094
1       0.242188
2       0.269531
3       0.292969
4       0.218750
          ...
1148    0.000000
1149    0.015625
1150    0.007812
1154    0.000000
1155    0.003906
Name: Myxococcia, Length: 789, dtype: float64, 'Nanoarchaeia': 0       0.023438
1       0.000000
2       0.011719
3       0.027344
4       0.015625
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    0.109375
1155    0.144531
Name: Nanoarchaeia, Length: 789, dtype: float64, 'Thermoleophilia': 0       0.019531
1       0.046875
2       0.054688
3       0.042969
4       0.031250
          ...
1148    0.035156
1149    0.027344
1150    0.031250
1154    0.011719
1155    0.007812
Name: Thermoleophilia, Length: 789, dtype: float64, 'Blastocatellia': 0       3.023438
1       3.058594
2       3.078125
3       3.171875
4       3.519531
          ...
1148    0.000000
1149    0.003906
1150    0.000000
1154    0.000000
1155    0.003906
Name: Blastocatellia, Length: 789, dtype: float64, 'OM190': 0       0.253906
1       0.160156
2       0.167969
3       0.281250
4       0.191406
          ...
1148    0.000000
1149    0.011719
1150    0.015625
1154    0.000000
1155    0.000000
Name: OM190, Length: 789, dtype: float64, 'Spirochaetia': 0       0.011719
1       0.019531
2       0.007812
3       0.019531
4       0.023438
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    1.339844
1155    1.910156
Name: Spirochaetia, Length: 789, dtype: float64, 'Nitrospiria': 0       2.171875
1       2.808594
2       2.835938
3       2.125000
4       2.507812
          ...
1148    0.003906
1149    0.007812
1150    0.003906
1154    0.003906
1155    0.000000
Name: Nitrospiria, Length: 789, dtype: float64, 'Chloroflexia': 0       0.113281
1       0.128906
2       0.132812
3       0.148438
4       0.097656
          ...
1148    0.031250
1149    0.019531
1150    0.054688
1154    0.007812
1155    0.003906
Name: Chloroflexia, Length: 789, dtype: float64, 'Kiritimatiellae': 0       0.093750
1       0.152344
2       0.156250
3       0.144531
4       0.105469
          ...
1148    0.011719
1149    0.011719
1150    0.007812
1154    0.105469
1155    0.117188
Name: Kiritimatiellae, Length: 789, dtype: float64, 'Ignavibacteria': 0       7.472656
1       7.527344
2       8.734375
3       7.347656
4       8.300781
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    0.667969
1155    1.101562
Name: Ignavibacteria, Length: 789, dtype: float64, 'Desulfuromonadia': 0       0.125000
1       0.121094
2       0.121094
3       0.109375
4       0.097656
          ...
1148    0.007812
1149    0.078125
1150    0.070312
1154    5.714844
1155    5.515625
Name: Desulfuromonadia, Length: 789, dtype: float64, 'Campylobacteria': 0       0.140625
1       0.117188
2       0.089844
3       0.109375
4       0.097656
          ...
1148    0.039062
1149    0.277344
1150    0.234375
1154    0.082031
1155    0.093750
Name: Campylobacteria, Length: 789, dtype: float64, 'Gemmatimonadetes': 0       0.410156
1       0.417969
2       0.308594
3       0.394531
4       0.292969
          ...
1148    0.000000
1149    0.035156
1150    0.011719
1154    0.007812
1155    0.007812
Name: Gemmatimonadetes, Length: 789, dtype: float64, 'Vicinamibacteria': 0       0.222656
1       0.265625
2       0.324219
3       0.285156
4       0.269531
          ...
1148    0.023438
1149    0.000000
1150    0.019531
1154    0.000000
1155    0.003906
Name: Vicinamibacteria, Length: 789, dtype: float64, 'Fimbriimonadia': 0       0.734375
1       1.007812
2       0.828125
3       0.871094
4       0.871094
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    0.039062
1155    0.011719
Name: Fimbriimonadia, Length: 789, dtype: float64, 'Vampirivibrionia': 0       0.054688
1       0.035156
2       0.035156
3       0.042969
4       0.039062
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    0.011719
1155    0.015625
Name: Vampirivibrionia, Length: 789, dtype: float64, 'Desulfovibrionia': 0       0.082031
1       0.101562
2       0.054688
3       0.062500
4       0.054688
          ...
1148    0.007812
1149    0.039062
1150    0.027344
1154    2.121094
1155    2.218750
Name: Desulfovibrionia, Length: 789, dtype: float64, 'Negativicutes': 0       0.027344
1       0.023438
2       0.046875
3       0.066406
4       0.035156
          ...
1148    0.066406
1149    0.023438
1150    0.039062
1154    0.320312
1155    0.285156
Name: Negativicutes, Length: 789, dtype: float64, 'Holophagae': 0       0.058594
1       0.105469
2       0.054688
3       0.078125
4       0.058594
          ...
1148    0.003906
1149    0.007812
1150    0.000000
1154    0.000000
1155    0.000000
Name: Holophagae, Length: 789, dtype: float64, 'Leptospirae': 0       0.144531
1       0.160156
2       0.167969
3       0.171875
4       0.226562
          ...
1148    0.007812
1149    0.015625
1150    0.003906
1154    0.007812
1155    0.019531
Name: Leptospirae, Length: 789, dtype: float64, 'metagenome': 0       0.757812
1       0.941406
2       0.917969
3       0.812500
4       0.902344
          ...
1148    0.085938
1149    0.058594
1150    0.113281
1154    0.003906
1155    0.000000
Name: metagenome, Length: 789, dtype: float64, 'Kapabacteria': 0       0.058594
1       0.066406
2       0.042969
3       0.078125
4       0.070312
          ...
1148    0.000000
1149    0.000000
1150    0.019531
1154    0.148438
1155    0.152344
Name: Kapabacteria, Length: 789, dtype: float64, 'Lineage IIb': 0       0.257812
1       0.214844
2       0.246094
3       0.222656
4       0.265625
          ...
1148    0.000000
1149    0.000000
1150    0.000000
1154    0.000000
1155    0.000000
Name: Lineage IIb, Length: 789, dtype: float64, 'Desulfobacteria': 0       0.003906
1       0.003906
2       0.000000
3       0.015625
4       0.000000
          ...
1148    0.031250
1149    0.023438
1150    0.027344
1154    0.000000
1155    0.003906
Name: Desulfobacteria, Length: 789, dtype: float64, 'Hydrogenedentia': 0       0.101562
1       0.085938
2       0.101562
3       0.101562
4       0.121094
          ...
1148    0.082031
1149    0.125000
1150    0.148438
1154    0.011719
1155    0.027344
Name: Hydrogenedentia, Length: 789, dtype: float64, 'BOD(Percentage)': 0       0.967857
1       0.967857
2       0.967857
3       0.967857
4       0.967857
          ...
1148    0.989899
1149    0.989899
1150    0.989899
1154    0.984889
1155    0.984889
Name: BOD(Percentage), Length: 789, dtype: float64, 'COD(Percentage)': 0       0.930956
1       0.930956
2       0.930956
3       0.930956
4       0.930956
          ...
1148    0.909605
1149    0.909605
1150    0.909605
1154    0.969640
1155    0.969640
Name: COD(Percentage), Length: 789, dtype: float64, 'NH4-N(Percentage)': 0       0.914821
1       0.914821
2       0.914821
3       0.914821
4       0.914821
          ...
1148    0.996541
1149    0.996541
1150    0.996541
1154    0.979305
1155    0.979305
Name: NH4-N(Percentage), Length: 789, dtype: float64, 'TN(Percentage)': 0       0.937703
1       0.937703
2       0.937703
3       0.937703
4       0.937703
          ...
1148    0.493333
1149    0.493333
1150    0.493333
1154    0.758891
1155    0.758891
Name: TN(Percentage), Length: 789, dtype: float64, 'TP(Percentage)': 0       0.833333
1       0.833333
2       0.833333
3       0.833333
4       0.833333
          ...
1148    0.673333
1149    0.673333
1150    0.673333
1154   -1.075581
1155   -1.075581
Name: TP(Percentage), Length: 789, dtype: float64}
{'Designed capacity (m3/d)': 0        17500.0
1        17500.0
2        17500.0
3        17500.0
4        17500.0
          ...
1148    570240.0
1149    570240.0

In [40]:
# Filter the columns that have the data type 'object'
object_columns = data_types[data_types == 'object'].index

# Display the list of columns with object data type
print("Columns with object data type:")
print(object_columns)

Columns with object data type:
Index([], dtype='object')

In [ ]:
features_bodp = df.drop(['BOD (mg/l) Inf', 'BOD (mg/l) Eff', 'BOD(Percentage)',
       'COD(Percentage)', 'NH4-N(Percentage)', 'TN(Percentage)',
       'TP(Percentage)'], axis = 1)
labels_bodp = df['BOD(Percentage)']

features_codp = df.drop([ 'BOD(Percentage)',
       'COD(Percentage)', 'NH4-N(Percentage)', 'TN(Percentage)',
       'TP(Percentage)','COD (mg/l) Inf', 'COD (mg/l) Eff'], axis = 1)
labels_codp = df['COD(Percentage)']

features_nh4np = df.drop(['BOD(Percentage)',
       'COD(Percentage)', 'NH4-N(Percentage)', 'TN(Percentage)',
       'TP(Percentage)','NH4-N (mg/l) Inf', 'NH4-N (mg/l) Eff'], axis = 1)
labels_nh4np = df['NH4-N(Percentage)']

features_tnp = df.drop([  'BOD(Percentage)',
       'COD(Percentage)', 'NH4-N(Percentage)', 'TN(Percentage)',
       'TP(Percentage)','TN (mg/l) Inf',
       'TN (mg/l) Eff'], axis = 1)
labels_tnp = df['TN(Percentage)']

features_tpp = df.drop([ 'BOD(Percentage)',
       'COD(Percentage)', 'NH4-N(Percentage)', 'TN(Percentage)',
       'TP(Percentage)','TP (mg/l) Inf', 'TP (mg/l) Eff'], axis = 1)
labels_tpp = df['TP(Percentage)']

In [ ]:
remaining_features = features_bodp.columns.tolist()

In [ ]:
regressor6 = Regression(
    predictor=['all'], 
    exclude_models = ['ann', 'krr']
)
regressor6.fit(features_bodp, labels_bodp)

In [ ]:
regressor6.imp_features()